div {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 100px 0;
    background-color: #006899;
    color: white;
    border-color: black;
}

.btn {
    background-color: white;
    color: rgb(10, 10, 10);
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    margin: 20px 10px;
    width: 300px;
    padding: 20px 0;
}

button {
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 5px 11px 0 rgb(22, 22, 22), 0 5px 11px 0 darkslategrey;
}

#title {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
}

#question {
    font-family: 'Roboto Mono', monospace;
    margin: 20px 200px 20px 200px;
    padding: 10px 0 30px 0;
    font-size: 30px;
}

@media screen and (max-width: 640px) {
    div {
    width: 100%;
    padding: 50px 0;
    } #title {
        font-size: 60px;
    }
    #question {
        margin: 30px 10px;
        font-size: 20px;
    } .btn {
        margin: 0 0 30px 0;
        font-size: 16px;
    }
}